<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-4AJEh3_t4sxa4aHH_AjETuAodnIy0gg</string>
	<key>GCM_SENDER_ID</key>
	<string>423285160425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DavudGunduz.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-9897a</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-9897a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:423285160425:ios:13ac17685252ce3276b378</string>
</dict>
</plist>
